<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
<div>
<nav class="z-2 col-12 navbar bg-primary position-fixed top-0 shadow-lg">
  <div class="container-fluid">
    <a href="/"><span class="navbar-brand mb-0 h1">SwadeshChat</span></a>
    {% if request.user.is_authenticated %}
    <a href="/api/auth/logout" class="btn btn-danger" >Logout</a>
    {% else %}
    <a href="/api/auth/login" class="btn btn-danger" >LogIn</a>
    {% endif %}
</div>
</nav>
<div class="position-relative d-flex col-12" style="top: 55px;">
    {% if request.user.is_authenticated %}
    <div class="card position-relative col-3" style="height: 89vh;">
        <nav class="z-10 navbar position-fixed col-3 shadow-lg">
            <div class="container-fluid d-flex col-12">
              <a href="{{ base_url }}{% if request.path == '/' %}?{% else %}?receiver_type={{request.GET.receiver_type}}&{% endif %}data=contacts" class="btn {% if request.GET.data == 'contacts'  %} bg-primary text-white{% endif %}">Contacts</a>
              <a href="{{ base_url }}{% if request.path == '/' %}?{% else %}?receiver_type={{request.GET.receiver_type}}&{% endif %}data=groups" class="btn {% if request.GET.data == 'groups'  %} bg-primary text-white{% endif %}">Groups</a>
              <a href="{{ base_url }}{% if request.path == '/' %}?{% else %}?receiver_type={{request.GET.receiver_type}}&{% endif %}data=add_contact" class="btn {% if request.GET.data == 'add_contact'  %} bg-primary text-white {% endif %}">Add Contact</a>
            </div>
          </nav>
          <ul class="list-group list-group-flush position-relative" style="top:55px">
            {% for group in groups %}
             {% if request.GET.data == "groups" %}
              <a class="text-decoration-none" href="/chat/{{group.slug}}?receiver_type={{group.receiver_type.name}}&data=groups">
                <li class="card-footer shadow-lg">{{group.name}}</li>
              </a>
              {% else %}
              {% if add_contact %}
              <a class="text-decoration-none" href="/add_contact/{{group.id}}?receiver_type={{group.receiver_type.name}}&data=add_contact">
              <li class="card-footer shadow-lg">
               {{group.username}}
              </li>
              </a>
              {% else %}
              <a class="text-decoration-none" href="/chat/{{group.slug}}?receiver_type={{group.receiver_type.name}}&data=contacts">
                <li class="card-footer shadow-lg">
                    {% if request.user.id == group.user_id.id %}
                    {{group.contact_id.first_name}} {{group.contact_id.last_name}} ({{group.contact_id.username}})
                    {% else %}
                    {{group.user_id.first_name}} {{group.user_id.last_name}} ({{group.user_id.username}})
                    {% endif %}
                </li>
              </a>
              {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
    </div>
    {% endif %}
    <div class="position-relative col-9" style="height: 89vh;">
        {% block start %}

        {% endblock %}
    </div>
    
</div>
</div>
</body>
</html>